:root {
    --navbar-padding: 1rem;
    --border-radius: 11px;
    --border-radius-small: 6px;
    --navbar-height: 14px;
    --navbar-main-color: #e4e4e4;
    --navbar-admin-color: #c4f3ff;
    --button-transition: filter ease-in-out 0.2s;
    --button-filter-brightness: brightness(0.9);
}

body {
    margin: unset;
    padding: unset;
    font-family: Arial, Helvetica, sans-serif;
}

/* Main bar */
ul {
    list-style-type: none;
    margin: unset;
    overflow: hidden;
    padding: var(--navbar-padding);
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

ul.main_panel {
    background: linear-gradient(90deg, var(--navbar-main-color), var(--navbar-admin-color), var(--navbar-admin-color));
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: var(--navbar-height) 16px;
    text-decoration: none;
    font-weight: bold;
}

li,
li a,
div {
    border-radius: var(--border-radius-small);
}

/*buttons */
/*calendar button */
.calendar:hover {
    filter: var(--button-filter-brightness);
    transition: var(--button-transition);
}

.calendar {
    background-color: grey;
    transition: var(--button-transition);
}

/* Admin */

.admin_panel {
    border-radius: var(--border-radius-small);
    position: absolute;
    right: 0;
    top: 0;
}



/*buttons */
.admin_panel li {
    margin: 0 5px;
}

.admin_panel li,
.admin_panel li a {
    transition: var(--button-transition);
}

.admin_panel li:hover,
.admin_panel li a:hover {
    filter: var(--button-filter-brightness);
    transition: var(--button-transition);
}

.link_event_band,
.link_event_band a {
    background-color: #a6affe;
    color: #000b67;
}

.create_event,
.create_event a {
    background-color: #feeca6;
    color: #777700;
}

.create_band,
.create_band a {
    background-color: #a6fea6;
    color: #047e00;
}

.login,
.login a {
    background-color: #ff8b8b;
    color: #7a0000;
}